.read {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .read form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .read label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .read input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .read button {
    background-color: #2ee477;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .read button:hover {
    background-color: #28d16a;
  }
  
  .read .datos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .read .datos h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .read .datos p {
    margin-bottom: 0.5rem;
    color: #333;
  }
  